<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Runner.entitlements
   Runner

   Created by 위지원 on 2021/08/15.
   Copyright (c) 2021 . All rights reserved.
-->
<plist version="1.0">
<dict/>
</plist>
